.expenses-form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 40% 1fr;
  gap: 10px 20px;
  padding: 0 10px;
}
.control.invalid input {
  border-color: rgb(189, 46, 46);
  background-color: rgba(230, 62, 62, 0.171);
}
.error-text {
  color: rgb(221, 44, 44);
  margin: 0;
  font-size: 14px;
}
.expenses-form input {
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: 2px solid #b2b8a3;
}
.expenses-form input[type='date'] {
  padding: 6px 16px;
}
.expenses-form input:focus {
  outline: none;
  border: 2px solid #2a2b2a;
}
.expenses-form__submit {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: flex-end;
  padding-top: 15px;
}
.expenses-form__submit .add {
  cursor: pointer;
  background-color: #deedf0;
  font-size: 14px;
  width: 40%;
  padding: 15px 5px;
  border: none;
}
.expenses-form__submit .add:disabled {
  background-color: #ddd;
  color: #333;
  cursor: not-allowed;
}
.expenses-form__submit .cansel {
  cursor: pointer;
  font-size: 14px;
  background-color: #fff;
  border: none;
  color: #2a2b2a;
  text-decoration: none;
}
