.container {
  display: flex;
  height: 85vh;
  width: 70vw;
}

@media only screen and (max-width: 768px) {
  .container {
    height: auto;
    width: 90vw;
    border-radius: 1.5rem;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    min-width: 60rem;
  }
}
