/* MY COLOR PALLET=https://colorhunt.co/palette/fff5ebdeedf0f4c7abb2b8a3 */
* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #fff5eb;
  height: 100vh;
}
