.filter-expenses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
}

.filter-expenses__header {
  justify-self: start;
}

.filter-expenses__select {
  justify-self: end;
}
.filter-expenses__select select {
  padding: 2px 7px;
  border-radius: 5px;
  border: 2px solid #686965;
  font-family: inherit;
}
.filter-expenses__select select:focus {
  outline: none;
  border: 2px solid #2a2b2a;
}
